@charset "UTF-8";

body {
    font-family: 'Courier New', Courier, monospace;
    background-color:black;
    
}

main {
    text-align: center;
    background-color:white;
    margin: auto;
    max-width: 450px;
    min-height: 250px;
    border-radius: 3px;
}
